html, body {
    overflow-x: hidden;
}



@media only screen and (max-width: 576px) {
    #main{
        max-width: 411px;
    }

    .form-group{
        margin: 0 20px !important;
    }
    .btnright {
        position: relative;
        width: 100%;
        min-height: 1px;
        padding-right: 15px;
        padding-left: 15px;
    }

    .toast-bottom-center {
        bottom: 65px !important;
        left: 25%;
    }
}

#main {
    padding-top: 65px;
    padding-right: 20px;
}

@media only screen and (max-width : 768px) {
    .headtext, .row, .dpager {
        padding-left: 30px;
        padding-right: 30px;
    }


}

@media only screen and (min-width : 768px) {
    #main {
        padding-left: 300px;
    }
}

    @media only screen and (min-width : 1200px) {
        .viewbmkarea {
            display: none;
        }
    }

#toast-container > .toast-success {
    background-color: var(--color-text) !important;
    border-radius: 30px !important;
}

#btnSearch {
    background-color: var(--color-btn-success);
}

    #btnSearch:hover {
        background-color: var(--color-btn-success-hover);
    }

.btn-warning {
    background-color: var(--color-btn-warning) !important;
}

.btn-warning:hover {
    background-color: var(--color-btn-warning-hover) !important;
}

.btn-back{
    background-color: #fff;
    font-family: var(--font-btn);
    border: 1px solid var(--color-btn-primary);
    color: var(--color-btn-primary);
    font-size: 1.6rem;
}

.btn-back:hover{
    color: #fff;
    background-color: var(--color-btn-primary);
}

.button {
    font-weight: 700;
    font-size: 1.6rem !important;
    font-family: var(--font-btn);
    border-radius: 15px;
    padding-left: 2rem;
    padding-right: 2rem;
}

.listbutton {
    border: 1px #eee solid;
    padding: 5px 15px;
    border-radius: 5px;
    background-color: #fff;
    font-size: 2rem;
    color: var(--color-text);
    margin: 0px;
}

.listbutton:hover {
    text-decoration: none;
    background-color: #eee;
}

.listbutton a {
    text-decoration: none;
}

.listbutton.active {
    color: var(--color-primary);
}

.formstyle {
    /*text-align: center;*/
    margin-top: 30px;
}

.form-control {
    height: calc(3.2rem + 2px) !important;
    font-size: 1.6rem;
    border-radius: 15px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem;
    font-family: var(--font-text);
}

.titletext {
    font-family: var(--font-headline);
    font-weight: 700;
    font-size: 3.2rem;
    padding-bottom: 20px;
}

.subtitletext {
    font-family: var(--font-headline);
    font-weight: 700;
    font-size: 2.4rem;
    margin-top: 50px;
    padding-bottom: 20px;
}

table.borderless td, table.borderless th {
    border: none !important;
}

.product-image {
    /*background-color: var(--color-accent);*/
    width: 100%;
    width: 120px;
    min-height: 100px;
    /*background-image: url(../images/pencils.png);*/
    background-size: contain;
    background-repeat: no-repeat;
}

.product-order {
    height: 100%;
}

.product-desc {
    font-weight: 700;
}

.product-wrapper {
    width: 400px;
    border: 1px solid var(--color-primary);
    border-radius: 15px;
    font-size: 1.6rem;
    margin: 10px;
}

.product-stock {
    font-size: 1.4rem;
}

.product-price {
    font-size: 1.6rem;
    font-weight: 700;
    text-align: right;
    font-family: var(--font-headline);
    color: var(--color-primary);
}

.product-uom {
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--color-text);
}

.td-add {
    min-width: 80px;
    text-align: right;
}

.btn-add {
    margin-top: 10px;
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--color-primary);
}

.btn-add:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-btn-primary-hover)
}

.btn-update {
    font-size: 1.2rem;
    font-weight: 700;
    color: var(--color-btn-success);
    background-color: #fff;
    border: 1px solid var(--color-btn-success);
    margin-top:-2px;
    margin-bottom: 3px;
}

.btn-update:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-btn-success);
}

.btn-remove {
    font-size: 2.4rem;
    font-weight: 700;
    color: var(--color-btn-danger);
}

.btn-fulfilled {
    font-size: 1.6rem !important;
    font-weight: 700;
    color: var(--color-btn-success);
}

.btn-remove:hover {
    text-decoration: none;
    color: var(--color-btn-danger-hover);
}

.btn-bookmark {
    font-size: 1.2rem;
    font-weight: 700;
    color: #fff;
    background-color: var(--color-btn-warning);
    border: 1px solid var(--color-btn-warning);
    margin-right: 5px;
}

.btn-bookmark:hover {
    text-decoration: none;
    color: #fff;
    background-color: var(--color-btn-warning-hover);
}

.btn-cancel {
    margin-right: 10px;
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--color-text);
    background-color: var(--color-btn-warning);
}

.btn-cancel:hover {
    text-decoration: none;
    color: var(--color-text);
    background-color: var(--color-btn-warning-hover);
}

.dpager{
    margin-bottom: 10px;
}

.noresult{
    font-size: 1.6rem;
    color: red;
}

.listview{
    margin-top: 30px;
}

.backarea{
    text-align: left;
}

.buttonarea{
    text-align: right;
    padding-right: 100px;
}

.spnstyle{
    padding-left: 10px;
}

.bookmarkarea{
    position:absolute;
    margin-left: 15px;
}

